/* Project by Gregory Ardison-Gardner*/

html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.btn-nav {
  color: white;
  font-size: 18px;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}

#break {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
